<settings>
    <category label="general">
        <setting label="Enable This Will Slow down the Movies Browsing!" type="lsep"/>
        <setting id="Show_Movie_details" type="bool" label="[COLOR red]Show Movies Story's and Year[/COLOR]" default="false"/>
        <setting type="sep"/>
        <setting label="ydownloader resolvers" type="lsep"/>
        <setting id="open_load_yd" type="bool" label="Enable use of YoutubeDl module to resolve openload links" default="false" enable="System.HasAddon(script.module.youtube.dl)"/>
    </category>
</settings>